.about{
	background: white;
	color: aliceblue;


	&__header{
		color: gray;
		align: center;
		font-size: 20px;
	}

	p{
		text-align: center;
		padding: 30px;
        color: black;
        font-size: 20px;
	}
.header1{
        text-align: center;
        font-size: 40px;
        color: gray;
        
    }
}
