@keyframes glowing {
	0% { background-color: #B20000; box-shadow: 0 0 3px #B20000; }
	50% { background-color: #FF0000; box-shadow: 0 0 40px #FF0000; }
	100% { background-color: #B20000; box-shadow: 0 0 3px #B20000; }
}

@keyframes swing {
	0% {transform: rotateY(-3deg) skewY(-3deg)}
	50% {transform: rotateY(3deg) skewY(3deg)}
	100% {transform: rotateY(-3deg) skewY(-3deg)}
}

.home {
	min-width: 100vw;
	min-height: calc(100vh - #{$navbar-height};
	background-color: #c2d8fc;

	&__header {
		text-align: center;
	}

	&__description {
		font-family: 'Sansita', sans-serif;
		padding-top: 10px;
		font-size: 30px;
		text-align: center;
	}

	&__options {
		min-height: 580px;
		padding-top: 60px;
		background-image: url("http://www.clker.com/cliparts/N/e/T/x/M/W/world-map-silhouette.svg");
		background-repeat: no-repeat;
		background-size: 100%;

		button {
			position: absolute;
			height: 40px;
			width: 40px;
			border-radius: 100%;
			border: none;
			animation: glowing 1500ms infinite;
			right: 10%;
		}

		&--swing {
			width: 300px;
			height: 90px;
			position: absolute;
			left: 40px;
			bottom: 0px;
			animation: swing 2500ms infinite;
		}
	}

	&__address {
		margin: 0 auto;
		padding: 30px;
		text-align: center;
	}
}
