.team {
	margin: 0 auto;
	padding: 60px 0;
	max-width: 80%;
	width: 900px;
	background-color: #d6dcd3;

	h1 {
		font-weight: 400;
		text-align: center;
		font-size: 40px;
		color: #009926;
		text-shadow: 2px 2px 4px #000000;
	}

	div {
		padding: 15px;

		h2 {
			padding-bottom: 7px;
			font-weight: 400;
			font-size: 25px;
		}

		p {

		}
	}

	.team__research {
			background-color: #C1E1A6;
			color:	#660000;
		
		}

	.team_header {
		color:blue;
		font-size:50px;
	}

}
